.container{
    margin: 10px auto;
    width: 600px;
}

.head{
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 3px 3px #000000;
}

.footer{
    color: white;
    margin-top: 10px;
    padding: 15px;
    background-color: #C73E20;
    width: 108.1%;
    font-family: verdana;
}

table {
    text-align: center;
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    width: 25%;
    border-collapse: collapse;
    padding: 8px;
    font-family: verdana;
    text-shadow: 1px 1px #bbbbbb;
}

body{
    background-color: #E46347;
    font-family: Verdana;
    
}

thead{
    background-color: #850452;
    border-bottom: solid 5px #5C0138;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

p{
    text-align: left;
    font-style: normal; 
    text-shadow: 1px 1px #000000;
}

.btn-back{
    padding: 8px 15px;
    color: #fff;
    background-color: #001389;
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid #000E67;
    margin-bottom: 15px
}